.cache
build

subprojects/*
!subprojects/gtest.wrap
!subprojects/highway.wrap
!subprojects/wqcolor.wrap
!subprojects/wqerror.wrap
!subprojects/wqfile.wrap
!subprojects/wqparallel.wrap
!subprojects/wqpng.wrap

